/* @import url('https://fonts.googleapis.com/css2?family=Farsan&family=Roboto:ital@1&display=swap'); */
:root{
  --height: 450px;
  --heightPhone: 300px;
}
.container{
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 30px;
  box-sizing: border-box;
}
.container-all{
  position: relative;
  /* max-width: 700px; */
  width: 100%;
  height: var(--height);
  border-radius: 6px;
  overflow: hidden;
}
.imagenBanner{
  width: 100%;
  height: var(--height);
  background-size: 100% 100%;
  position: relative; /*"relative" para haci poner el banner en "absolute" y que no se mueva para ninguna direccion: */
  display: flex;/*para que la caja sea flecible y haci poder mover el contenido del banner*/
  justify-content: center;/*para centrar el contenido del banner horizontalmente*/
  align-items: center;/*para centrar el contenido del baner verticalmente*/
}
.imagenBanner img{
  width: 100%;
  height: 100%;
}
.info{
  z-index: 1;
  width: 100%;/*ancho*/
  height:200px;
  max-width: 500px;/*maximo tamaño*/
  text-align: center;/*centrar el texto*/
  position: absolute;
}
.info h1{
/* width: 100%;
height: 20px; */
  font-family: 'Farsan', cursive;
}
/* .info p{
width: 100%;
height: 20px;
} */

.slide{
  width: 100%;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover{
  transform: scale(2);
}

.pagination-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img{
  opacity: 1;
  transform: scale(1);
}


input[id="1"]:checked ~ .slide{
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
  background: #fff;
}

input[id="2"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
  background: #fff;
}


input[id="3"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
  background: #fff;
}
input[id="4"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
  background: #fff;
}
input[id="5"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 4), 0, 0);
}
input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
  background: #fff;
}

@keyframes autoplay{
  20%{
    transform: translate3d(calc(-100% * 0), 0, 0);
  }

  40%{
    transform: translate3d(calc(-100% * 1), 0, 0);
  }

  60%{
    transform: translate3d(calc(-100% * 2), 0, 0);
  }

  80%{
    transform: translate3d(calc(-100% * 3), 0, 0);
  }

  100%{
    transform: translate3d(calc(-100% * 4), 0, 0);
  }
}
@media screen and (max-width: 700px){

  .container{
    width: 100%;
    height: var(--heightPhone);
    padding: 0;
    margin-top: 101px;
  }
  .container-all{
    height: var(--heightPhone);
  }
  .imagenBanner{
    width: 100%;
    height: var(--heightPhone);
  }
  .info{
    max-width: 300px;
  }

}
